* {
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

p {
    color: dimgray;
}

.logo {
    display: flex;
    vertical-align: middle;
    color: black;
}

.logo h4 {
    margin-bottom: auto;
    margin-top: auto;
}

.logo p {
    margin-left: .5em;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1.5em;
}

nav a {
    margin: .5em;
}

a {
    text-decoration: none;
    color:dimgrey;
}
a:hover {
    color: cadetblue;
}

.active {
    text-align: center;
    border-bottom: 2px solid cadetblue;
}

/* Index page */

header {
    text-align: center;
    margin-top: 10%;
}

h1 {
    margin: .5em;
    font-weight: bold;
}

.line {
    display: flex;
    justify-content: center;
}

.line a {
    margin: 1.5em;
    display: flex;
}

.line p {
    margin-left: .3em;
    color: black;
}

/* Contact Page */
.form-row {
    display: flex;
    margin: 1em;
}

button {
    background-color: cadetblue;
    width: 6em;
    height: 3em;
    color: white;
    border: solid transparent;
}

button:hover {
    background-color: white;
    border: 2px solid cadetblue;
    color: cadetblue;
}

.center {
    text-align: center;
    margin: 1em;
}

.container {
    margin-top: 3em;
}

#message {
    height: 8em;
    overflow-y: auto;
}

input:focus {
    outline: 2px solid cadetblue;
}

#colored {
    color: cadetblue;
}

#form-section {
    margin-top: 2em;
}

#form-section h4 {
    text-align: center;
}

.contact-line {
    display: flex;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: .5em;
    border: solid 1px lightgrey;
}
.contact-line p {
    margin: 0;
}
.contact-line a{
    display: flex;
    text-align: left;
    margin-bottom: 0;
}

.contact-line a .contact-info {
    margin-left: 1em;
}

/* About page */

.about-page {
    padding: 10%;
    background-image: linear-gradient(to bottom, rgba(104, 104, 104, 0.726), rgba(0, 0, 0, 0.863)),
    url('mexico.JPG');
    background-size: cover;
    color: white;
}

.about-page .container {
    padding-left: 15%;
    padding-right: 15%;
}

.about-page h2 {
    font-weight: bold;
}

.about-page p {
    color: white;
}

.about-page .row {
    margin-top: 1.5em;
}
#about-added {
    padding-left: 15%;
    padding-right: 15%;
}